.accordion-item-wrapper {
  h4 {
    margin-top: 15px;
  }
}
.accordion-header-pos {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 1px;
  button {
    color: azure;
    width: 65px;
    height: 44px;
  }
  span {
    margin-left: 1rem;
    font-family: Helvetica;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
  }
}
.accordion-body,
.accordion-header {
  background-color: #f4fcff;
}
.accordion-button {
  padding: 4px !important;
}
.accordion-button:not(.collapsed) {
  background-color: #f4fcff !important;
  box-shadow: none !important;
  border: 1px solid #26a7dd;
}
.accordion-button.collapsed {
  box-shadow: none !important;
  background-color: #f4fcff;
  border: 1px solid #26a7dd;
}
.accordeon-body {
  border: 1px solid #26a7dd;
  background-color: #fff;
  padding-right: 15vw;
}
.btns-block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5rem 0;
  button {
    margin-right: 10px;
    background-color: #d8dfe5;
    border-color: #d8dfe5;
    height: 50px;
    font-family: Helvetica;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
    color: #231F20;

    &:hover {
      background: #d8dfe5;
      border-color: #d8dfe5;
      box-shadow: 0px 2px 4px rgba(206, 212, 218, 0.7);
    }
  }
}
